@import "../global.less";
@import (reference) "../mixin.less";

@sideWidth: 64px;
@pageHeaderHeight: 36px;

.reader {
    display: grid;
    grid-template-columns: @sideWidth auto @sideWidth;
    height: 100vh;
    min-width: 768px;
    overflow: hidden;
    background-color: #efebe0;
}

.side {
    .center();
    line-height: 1;

    &:nth-of-type(1) {
        .border(right);
    }

    &:nth-of-type(3) {
        .border(left);
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > div {
        width: 100%;
    }
}

.sideItem {
    font-size: 24px;
    padding: 16px 0;

    .center();

    > span {
        cursor: pointer;
    }
}

.sideItemDisabled {
    color: #bfbfbf;
    > span {
        cursor: not-allowed;
    }
}

.pageContainer {
    display: flex;
    justify-content: center;
}

.page {
    width: 50%;
    display: grid;
    grid-template-rows: 36px auto 36px;

    > div:nth-child(1) {
        .border(bottom);
    }

    > div:nth-child(3) {
        .border(top);
    }

    &:nth-of-type(2) {
        .border(left);
    }
}

.pageHeader,
.pageFooter {
    user-select: none;
    .center();
}

.pageContent {
    padding: 24px;
    position: relative;
    white-space: pre-wrap;
    overflow: hidden;

    span::selection {
        background-color: #bae7ff;
    }
    span {
        display: inline-block;
    }
}

.measureChar {
    display: inline-block;
    opacity: 0;
    // position: absolute;
}

.pageLoading {
    height: 100%;
    .center();
}
